input {
    &:focus-visible {
        outline: none;
    }
}

#todo {
    padding: 0.75rem 1rem;
    border: none;

    &::placeholder {
        font-size: 1.125rem;
        color: $greyish-blue-dark-1;
    }
}