.content-width {
    width: 80vw;
    margin: 0 auto;
    padding: 4rem 0;

    @include breakpoint-up(md) {
        width: $content-width;
    }
}

.shadow-sm {
    box-shadow: $box-shadow;
}

.text-line-through {
    text-decoration: line-through;
    color: $greyish-blue-dark-1;
}

.main-content {
    .input-container {
        background-color: $light;
    }

    .round-check {
        width: 20px;
        height: 20px;
        border: 1px solid $greyish-blue-light;
        border-radius: 50%;
        flex-shrink: 0;

        @include breakpoint-up(md) {
            width: 25px;
            height: 25px;
        }
    }

    .content-width {
        padding: 0;
    }

    .padding {
        padding: 0.5rem 1rem;

        &.footer {
            padding: 1.5rem 2rem;
        }

        @include breakpoint-up(md) {
            padding: 1rem 2rem;
        }
    }

    .todo-container {
        margin-top: -7rem;

        @include breakpoint-up(md) {
            margin-top: -10rem;
        }
    }

    .todo-list-container {
        margin-top: 2rem;
        // max-height: 100px;

        .todo-list {
            // max-height: 500px;
            overflow-y: auto;
        }

        .nav-item {
            border-bottom: 1px solid $greyish-blue-dark-2;
            padding: 1.25rem 1rem;
            cursor: move;

            @include breakpoint-up(md) {
                padding: 1.5rem 2rem;
            }

            &:hover {
                .delete-icon {
                    visibility: visible;
                }
            }
        }

        .todo-text {
            margin-left: 0.75rem;
            width: 70%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.875rem;

            @include breakpoint-up(md) {
                font-size: 1rem;
                margin-left: 1.25rem;
            }
        }

        .check-container {
            width: 100%;
            height: 100%;
            background-image: linear-gradient((hsl(192, 100%, 67%), hsl(280, 87%, 65%)));
            border-radius: 50%;
        }


        .delete-icon {
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            z-index: 10;
            width: 15px;

            @include breakpoint-up(md) {
                visibility: hidden;
                width: auto;
            }
        }
    }

    .todo-footer {
        // width: 33%;

        &.todo-footer-2 {
            position: absolute;
            top: 100%;
            width: 100%;
            background: white;
            padding: 1rem 2rem;
            left: 0;
            justify-content: center;
            margin-top: 16px;
            border-radius: 8px;
            box-shadow: $box-shadow;

            @include breakpoint-up(md) {
                width: 33%;
                position: relative;
                padding: 0;
                margin-top: 0;
                border-radius: 0;
                box-shadow: none;
            }

            .footer-text:not(:first-child) {
                color: $greyish-blue-dark-1;
                font-weight: 700;
                transition: $transition-timimg all;

                &:hover {
                    color: $dark;
                }
            }
        }

        &.todo-footer-3,
        &.todo-footer-1 {
            width: 50%;

            @include breakpoint-up(md) {
                width: 33%;
            }

            .footer-text {
                color: $greyish-blue-dark-1;
                font-size: 0.875rem;
                transition: $transition-timimg all;

                &:hover {
                    color: $dark;
                }
            }
        }
    }



    .todo-footer-3,
    .todo-footer-1 {
        .footer-text {
            color: $greyish-blue-dark-1;
            font-size: 0.875rem;
            transition: $transition-timimg all;

            &:hover {
                color: $dark;
            }
        }
    }

    // dark mode styles
    &.dark-mode {
        background-color: $secondary;
    }

    &.dark-mode {
        color: $light;

        .input-container {
            background-color: $danger-dark;

            #todo {
                color: $light;
                background-color: $danger-dark;
            }
        }

        .nav-item,
        .footer,
        .todo-footer,
        .todo-footer-2 {
            background-color: $danger-dark;
        }

        .text-line-through {
            color: $warning;
        }

        .todo-footer-2 {
            background-color: $danger-dark;

            .footer-text:not(:first-child) {
                color: $warning;

                &:hover {
                    color: $info-hover
                }
            }
        }

        .todo-footer-3,
        .todo-footer-1 {
            .footer-text {
                color: $warning;

                &:hover {
                    color: $info-hover
                }
            }
        }

    }
}