.content-width {
    width: $content-width;
    margin: 0 auto;
    padding: 4rem 0;
}

.shadow-sm {
    box-shadow: $box-shadow;
}

.text-line-through {
    text-decoration: line-through;
    color: $grey-light-2;
}

.main-content {
    .round-check {
        width: 25px;
        height: 25px;
        border: 1px solid $greyish-blue-light;
        border-radius: 50%;
        flex-shrink: 0;
    }

    .content-width {
        padding: 0;
    }

    .padding {
        padding: 1rem 2rem;
    }

    .todo-container {
        margin-top: -10rem;
    }

    .todo-list-container {
        margin-top: 2rem;
        max-height: 100px;

        .nav-item {
            border-bottom: 1px solid $greyish-blue-dark-2;
            padding: 1.5rem 2rem;

            &:hover {
                .delete-icon {
                    visibility: visible;
                }
            }
        }

        .todo-margin {
            margin-left: 1.25rem;
        }

        .check-container {
            width: 100%;
            height: 100%;
            background-image: linear-gradient((hsl(192, 100%, 67%), hsl(280, 87%, 65%)));
            border-radius: 50%;
        }


        .delete-icon {
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            visibility: hidden;
        }
    }

    .todo-footer {
        width: 33%;
    }

    // Dark Mode
    &.dark-mode {
        background-color: $secondary;
    }
}